* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/*============== global通用 =====================*/
.icons {
    display: flex;
    margin: 40px 0;
}

.icons li {
    position: relative;
    list-style: none;
    height: 70px;
    width: 70px;
    margin: 0 10px;
    border-radius: 50px;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94, 104, 121, 0.288);
}

.icons li a {
    line-height: 70px;
    font-size: 27px;
    color: #b6bbc5;
}

li:nth-child(1).fill-color a {
    color: #696867;
}

li:nth-child(2).fill-color a {
    color: #1da1f2;
}

li:nth-child(3).fill-color a {
    color: #09bb07;
}

li:nth-child(4).fill-color a {
    color: #333;
}

/*============================================*/

/* circle版的样式都在li上 */
.circle li.clicked {
    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

/* ring版特殊样式在a上 */
.ring li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: inset -3px -3px 7px #ffffff73, /* 绝对定位logo 裁出来一个洞*/ inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.ring li a.clicked {
    box-shadow: none;
}