* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    flex-wrap: wrap;
}

.card {
    align-self: center;
    margin: auto;
    height: 140px;
    width: 250px;
    background-color: #444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.iconfont {
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}

.card:hover .iconfont {
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3 {
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card:hover .card-content h3 {
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card-content span {
    bottom: 20px;
    color: #fff;
    font-weight: 600;
}

.card:hover .card-content span {
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}
