* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06181f;
}

.container {
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .icon {
    width: 200px;
    margin: 20px;
}

.container .icon path {
    fill: transparent;
    stroke-width: 10;
    stroke: #31e8ff;
}

.container .icon.heart path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.container .icon.heart:hover path {
    animation: animation-heart 2s linear forwards;
}

@keyframes animation-heart {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1560;
    }
    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3120;
        fill: #31e8ff;
    }
}

.container .icon.moon path {
    stroke-dasharray: 1810;
    stroke-dashoffset: 0;
}

.container .icon.moon:hover path {
    animation: animation-moon 2s linear forwards;
}

@keyframes animation-moon {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1810;
    }
    80% {
        stroke-dashoffset: 3620;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3620;
        fill: #31e8ff;
    }
}

.container .icon.star path {
    stroke-dasharray: 1810;
    stroke-dashoffset: 0;
}

.container .icon.star:hover path {
    animation: animation-star 2s linear forwards;
}

@keyframes animation-star {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1810;
    }
    80% {
        stroke-dashoffset: 3620;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3620;
        fill: #31e8ff;
    }
}

/*
multiply path
主要是用debugger找到 stroke开始裁剪的位置 - 第一圈裁剪完的位置
*/
.container .icon.apple path:nth-child(1) {
    stroke-dasharray: 1810;
    stroke-dashoffset: 0;
}

.container .icon.apple:hover path:nth-child(1) {
    animation: animation-apple 2s linear forwards;
}

@keyframes animation-apple {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1810;
    }
    80% {
        stroke-dashoffset: 3620;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3620;
        fill: #31e8ff;
    }
}

.container .icon.apple path:nth-child(2) {
    stroke-dasharray: 1810;
    stroke-dashoffset: 1450;
}

.container .icon.apple:hover path:nth-child(2) {
    animation: animation-apple2 2s linear forwards;
}

@keyframes animation-apple2 {
    0% {
        stroke-dashoffset: 1450;
    }
    40% {
        stroke-dashoffset: 1810;
    }
    41% {
        stroke-dashoffset: 3280;
    }
    80% {
        stroke-dashoffset: 3630;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3630;
        fill: #31e8ff;
    }
}