* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a2a43;
    min-height: 1500px;
}

section.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.parallax:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}

section.parallax:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}

section.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section.parallax #text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}

section.parallax #road {
    z-index: 2;
}