* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
}

.card {
    position: relative;
    height: 470px;
    width: 340px;
    display: block;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: 0.4s linear;
}

.card:hover {
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .image {
    background-color: black;
    height: 400px;
    overflow: hidden;
}

.image img {
    height: 100%;
    width: 100%;
    transition: 0.3s linear;
}

.card:active .image img {
    opacity: 0.6;
    transform: scale(1.1);
}


.card .content {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
}

.content .title {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.content .sub-title {
    font-size: 18px;
    font-weight: 500;
    color: #e74c3c;
    margin-bottom: 10px;
}

.bottom p {
    color: #666666;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8em;
}

.bottom button {
    float: left;
    padding: 7px 15px;
    font-size: 17px;
    background-color: #e74c3c;
    color: white;
    font-weight: 500;
    border: none;
    margin: 10px 0;
    transition: 0.3s ease;
}

.bottom button:hover {
    transform: scale(0.9);
    background-color: #e64533;
}

.bottom {
    display: none;
}