* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}

.SearchBox {
    position: relative;
}

.SearchBox input {
    background: crimson;
    border: none;
    background: transparent;
    outline: none;
    line-height: 40px;
    font-size: 20px;
    width: 80%;
    transform: scale(0);
    transition: .5s;
    color: #fff;
}

.SearchBox .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: crimson;
    color: #fff;
    font-size: 0;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}
.SearchBox .icon:before {
    content: '🔍';
    line-height: 100px;
    font-size: 30px;
    transition: .5s;
}

.SearchBox input:focus {
    transform: scale(1);
}

.SearchBox input:focus + .icon {
    left: 0;
    right: 0;
    width: auto;
    border-radius: 0;
    height: 5px;
    transform: translate(0, 50px);
}

.SearchBox input:focus + .icon:before {
    font-size: 0;
    opacity: 0;
}